header {
	margin-top: 54px;
	margin-left: 63px;
	margin-bottom: 85px;
}


.logo {
	display: inline-block;
	vertical-align: middle;
	margin-right: 60px;
}
li {
	display: inline-block;
	color: #8D81FF;
	font-size: 26px;
	font-family: FiraGO;
	font-weight: 700;
	word-wrap: break-word;
	margin-right: 81px;
}
nav {
	display: inline-block;
	vertical-align: middle;
}
.active {
	color: #4E6FAE;
}
.container {
	width: 1052px;
    margin: 0 auto;
}
.sec2 {
	margin-top: 120px;
	margin-bottom: 93px;
}
.title {
	margin-bottom: 26px;
}
h1 {
	color: #4E6FAE;
	font-size: 26px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	word-wrap: break-word;
	display: inline-block;
	margin-right: 18px;
	vertical-align: middle;
}
h2 {
	color: #4E6FAE;
	font-size: 26px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	word-wrap: break-word;
	display: inline-block;
	vertical-align: middle;
}
.line {
	width: 2px;
	height: 24px;
	display: inline-block;
	background-color: #5012D5;
	margin-right: 18px;
	vertical-align: middle;
}
.box1 {
	width: 500px;
	height: 192px;
	background-color: #E7E7E7;
	display: inline-block;
	margin-right: 48px;
	vertical-align: middle;
}
.box2 {
	width: 500px;
	height: 192px;
	background-color: #E7E7E7;
	display: inline-block;
	vertical-align: middle;
}
h3 {
	color: #3F4145;
	font-size: 20px;
	width: 307px;
	height: 23px;
	font-weight: 400;
	word-wrap: break-word;
	margin-left: 23px;
	margin-top: 21px;
}
.logo1 {
	margin-top: 30px;
	margin-left: 36px;
	display: inline-block;
}
.pale {
	width:320px ;
	height:95px ;
	display: inline-block;
	vertical-align: top;
	margin-top: 28px;
	margin-left: 35px;
	color: #7E8898;
	font-size: 16px;
	font-weight: 400;
	word-wrap: break-word
}
.line2 {
	margin: 0 41px;
}
footer {
	margin-bottom: 193px;
}